
.announcement {
  width: 90%;
  border-radius: 20px;
  background: #fff;
  padding: 10px;
  margin-left: 100px;
  margin-top: 15px;
}

.announcementHead {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
}

.announcementBody {
  height: 600px;
}

.announcementItemBody {
  cursor: pointer;
  height: 100px;
  background-color: #F6F4EB;
  border-radius: 12px;
  margin: 10px 10px 0px 10px;
  display: flex;
}

 .announcementItemBody:hover {
  background-color: #e50028;
  transition: 0.5s;
  color: white;
} 

.Left {
  width: 20%;
  height: 100%;
  margin-top: 0;
  margin-left: 10px;
  display: inline-block;
  border-right: 1px solid black;
}

.leftTop {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: end;
  font-weight: 900;
  font-size: 30px;
}

.leftBottom {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: start;
  font-weight: 700;
}

.right {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.entries a{
  width: 100%;
}
.pagination{
  width: 100%;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}
.pageNumbers{
  width: 100%;
  list-style: none;
  display: flex;
  margin: 10px 10px 0 0 ;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
}
.paginationItem{ 
  display: flex;
  justify-content: center;
  align-items: center;
}




.pageNumbers li{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.page-btn{
  border: none;
  background-color: white;
  width: 40px;
  height: 40px;
  
}
.page-btn i{
  color: #e50028;
}
.pgn-num{
  width: 50px;
  height: 30px;
}
.page-num{
  font-size: 25px;
}
.pgn-num a{
  cursor: pointer;
  text-decoration: none;
  color: black;
  display: block;
  padding: 0px 10px 10px 0px;
}
.isActive{
  font-size: 20px;
  cursor: initial !important;
  font-weight: bold;
  background-color: #e50028;
  color: #fff;
  border-radius: 5px;
}

